body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  background: linear-gradient(#e8b34f 0%, rgba(85, 150, 174, 0.2) 100%);
  background-size: 100% 100%;
  -webkit-animation: bgtrip 20s infinite alternate;
          animation: bgtrip 20s infinite alternate;
}

@-webkit-keyframes bgtrip {
  33% {
    background-color: #559680;
  }
  66% {
    background-color: #d67061;
  }
  100% {
    background-color: #559680;
  }
}

@keyframes bgtrip {
  33% {
    background-color: #559680;
  }
  66% {
    background-color: #d67061;
  }
  100% {
    background-color: #559680;
  }
}
.left {
  margin-left: 15rem;
  margin-top: 12rem;
  float: left;
}

.right {
  float: left;
}

.logo {
  pointer-events: auto;
  width: 209px;
  height: 37px;
  -webkit-background-origin: content-box;
  overflow: visible;
  -webkit-background-size: 100%;
  background-image: url(../images/logo.png);
  background-size: 100% 100%;
  background-origin: content-box;
}

.text {
  pointer-events: auto;
  width: 200px;
  height: 245px;
  padding: 8px;
  line-height: 1.4rem;
  overflow: visible;
  word-wrap: break-word;
  color: white;
  font-size: .9em;
}

.sticks {
  margin-top: 14rem;
}

.stick-1 {
  -webkit-animation: glickstick 8s infinite ease-in-out;
          animation: glickstick 8s infinite ease-in-out;
}

.stick-2 {
  -webkit-animation: glickstick 19s infinite ease-in-out;
          animation: glickstick 19s infinite ease-in-out;
}

.stick-3 {
  -webkit-animation: glickstick 31s infinite ease-in-out;
          animation: glickstick 31s infinite ease-in-out;
}

.stick-4 {
  -webkit-animation: glickstick 42s infinite ease-in-out;
          animation: glickstick 42s infinite ease-in-out;
}

.bouncing-stick {
  height: 45px;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  margin: 25px;
}

@-webkit-keyframes glickstick {
  0% {
    width: 350px;
  }
  4.9% {
    width: 130px;
    -webkit-transform: translate(9em);
            transform: translate(9em);
  }
  9.8% {
    width: 240px;
    -webkit-transform: translate(10em);
            transform: translate(10em);
  }
  14.7% {
    width: 80px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  19.6% {
    width: 190px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  24.5% {
    width: 230px;
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  29.4% {
    width: 170px;
    -webkit-transform: translate(4em);
            transform: translate(4em);
  }
  34.3% {
    width: 140px;
    -webkit-transform: translate(7em);
            transform: translate(7em);
  }
  39.2% {
    width: 100px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  44.1% {
    width: 200px;
    -webkit-transform: translate(10em);
            transform: translate(10em);
  }
  49% {
    width: 340px;
    -webkit-transform: translate(5em);
            transform: translate(5em);
  }
  53.9% {
    width: 280px;
    -webkit-transform: translate(2em);
            transform: translate(2em);
  }
  58.8% {
    width: 50px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  63.7% {
    width: 290px;
    -webkit-transform: translate(5em);
            transform: translate(5em);
  }
  68.6% {
    width: 110px;
    -webkit-transform: translate(6em);
            transform: translate(6em);
  }
  73.5% {
    width: 190px;
    -webkit-transform: translate(9em);
            transform: translate(9em);
  }
  78.4% {
    width: 220px;
    -webkit-transform: translate(7em);
            transform: translate(7em);
  }
  83.3% {
    width: 100px;
    -webkit-transform: translate(6em);
            transform: translate(6em);
  }
  88.2% {
    width: 90px;
    -webkit-transform: translate(2em);
            transform: translate(2em);
  }
  93.1% {
    width: 130px;
    -webkit-transform: translate(9em);
            transform: translate(9em);
  }
  98% {
    width: 60px;
    -webkit-transform: translate(5em);
            transform: translate(5em);
  }
  102.9% {
    width: 190px;
    -webkit-transform: translate(6em);
            transform: translate(6em);
  }
  107.8% {
    width: 220px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  112.7% {
    width: 240px;
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  117.6% {
    width: 190px;
    -webkit-transform: translate(2em);
            transform: translate(2em);
  }
  122.5% {
    width: 340px;
    -webkit-transform: translate(6em);
            transform: translate(6em);
  }
  127.4% {
    width: 150px;
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  132.3% {
    width: 120px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  137.2% {
    width: 90px;
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  142.1% {
    width: 320px;
    -webkit-transform: translate(10em);
            transform: translate(10em);
  }
  147% {
    width: 170px;
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  100% {
    width: 350px;
  }
}

@keyframes glickstick {
  0% {
    width: 350px;
  }
  4.9% {
    width: 130px;
    -webkit-transform: translate(9em);
            transform: translate(9em);
  }
  9.8% {
    width: 240px;
    -webkit-transform: translate(10em);
            transform: translate(10em);
  }
  14.7% {
    width: 80px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  19.6% {
    width: 190px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  24.5% {
    width: 230px;
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  29.4% {
    width: 170px;
    -webkit-transform: translate(4em);
            transform: translate(4em);
  }
  34.3% {
    width: 140px;
    -webkit-transform: translate(7em);
            transform: translate(7em);
  }
  39.2% {
    width: 100px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  44.1% {
    width: 200px;
    -webkit-transform: translate(10em);
            transform: translate(10em);
  }
  49% {
    width: 340px;
    -webkit-transform: translate(5em);
            transform: translate(5em);
  }
  53.9% {
    width: 280px;
    -webkit-transform: translate(2em);
            transform: translate(2em);
  }
  58.8% {
    width: 50px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  63.7% {
    width: 290px;
    -webkit-transform: translate(5em);
            transform: translate(5em);
  }
  68.6% {
    width: 110px;
    -webkit-transform: translate(6em);
            transform: translate(6em);
  }
  73.5% {
    width: 190px;
    -webkit-transform: translate(9em);
            transform: translate(9em);
  }
  78.4% {
    width: 220px;
    -webkit-transform: translate(7em);
            transform: translate(7em);
  }
  83.3% {
    width: 100px;
    -webkit-transform: translate(6em);
            transform: translate(6em);
  }
  88.2% {
    width: 90px;
    -webkit-transform: translate(2em);
            transform: translate(2em);
  }
  93.1% {
    width: 130px;
    -webkit-transform: translate(9em);
            transform: translate(9em);
  }
  98% {
    width: 60px;
    -webkit-transform: translate(5em);
            transform: translate(5em);
  }
  102.9% {
    width: 190px;
    -webkit-transform: translate(6em);
            transform: translate(6em);
  }
  107.8% {
    width: 220px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  112.7% {
    width: 240px;
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  117.6% {
    width: 190px;
    -webkit-transform: translate(2em);
            transform: translate(2em);
  }
  122.5% {
    width: 340px;
    -webkit-transform: translate(6em);
            transform: translate(6em);
  }
  127.4% {
    width: 150px;
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  132.3% {
    width: 120px;
    -webkit-transform: translate(8em);
            transform: translate(8em);
  }
  137.2% {
    width: 90px;
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  142.1% {
    width: 320px;
    -webkit-transform: translate(10em);
            transform: translate(10em);
  }
  147% {
    width: 170px;
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  100% {
    width: 350px;
  }
}
